.about__me{
     .about__me__easy{
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding: 100px 50px;
          .about__me__left{
               width: 50%;
          }
          .about__me__left::before{
               content:"";
               display: block;
               background-image: url(../../img/easy-me.png);
               background-repeat: no-repeat;
               background-size: contain;
               position: relative;
               width: 555px;
               height: 584px;
          }
          .about__me__right{
               width: 50%;
               margin-top: 50px;
               margin-left: 150px;
               &__text{
                    width: 445px;
                    height: 56px;
                    font-family: "DM Serif Display";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 48px;
                    line-height: 56px;
                    letter-spacing: -0.369231px;
                    color: #36536B;
               }
               &__write{
                    width: 445px;
                    height: 84px;
                    font-family: "Public Sans";
                    opacity: 0.8;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 28px;
                    color: #6C8294;
               }
               
          }
     }
     .about__section{
          width: 100%;
          padding-left: 100px;
          padding-right: 100px;
          display: flex;
          justify-content: space-between;
          &__left{
               width: 50%;
               margin-left: 50px;
               &__text{
                    width: 445px;
                    height: 56px;
                    font-family: "DM Serif Display";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 48px;
                    line-height: 56px; 
                    letter-spacing: -0.369231px;
                    color: #36536B;
               }
               &__write{
                    width: 445px;
                    height: 56px;
                    font-family: "Public Sans";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 28px;
                    color: #6C8294;
               }
          }
          
     }
     .about__section__right{
          width: 50%;
          // position: absolute;

     }
     .about__section__right::before{
          content:"";
          display: block;
          background-image: url(../../img/phone-all.png);
          background-repeat: no-repeat;
          background-size: contain;
          position: relative;
          bottom: 250px;
          width: 700px;
          height: 700px;
     }
     .about__section__right::after{
          content:"";
          display: block;
          background-image: url(../../img/circle.png);
          z-index: -1;
          position: absolute;
          background-repeat: no-repeat;
          background-size: contain;
          position: relative;
          margin-top: -700px;
          // margin-left: 100px;
          bottom: 150px;
          // left: -100px;
          width: 700px;
          height: 700px;
     }
     
}
@media only screen and(max-width: 949px) {
     .about__me{
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          .about__me__easy {
               width: 100%;
               display: flex;
               flex-wrap: wrap;
               justify-content: center;
          }
          .about__me__left{
               width: 100%;
               margin-left: 150px;
          }
          .about__me__left::before{
               content:"";
               display: block;
               background-image: url(../../img/easy-me.png);
               background-repeat: no-repeat;
               background-size: contain;
               position: relative;
               width: 555px;
               height: 304px;
          }
          .about__me__right{
               width: 100%;
               margin-left: 170px;
               margin-bottom: 550px;
          }
     }
     .about__section{
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          &__left{
               width: 100%;
               margin-bottom: 200px;
          }
          &__right{
               width: 100%;
               order: -1;
          }
     }
}